<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectCategoryList">
	SELECT
	        CATEGORY_NO
	      , CATEGORY_NAME
	  FROM CATEGORY	
</entry>
<entry key="increaseCount">
	UPDATE BOARD
	   SET COUNT = COUNT + 1
	 WHERE BOARD_NO = 'B' || ?
	   AND STATUS = 'Y'
</entry>
<entry key="selectBoard">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , BOARD_TITLE
	      , BOARD_CONTENT
	      , NICKNAME
	      , CATEGORY_NAME
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , COUNT
	      , HASHTAG
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	        ) AS "REPLY_COUNT"
	  FROM BOARD B
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	  JOIN CATEGORY USING (CATEGORY_NO)
	 WHERE BOARD_NO = 'B' || ?
</entry>
<entry key="insertLike">
	INSERT INTO LIKES
	VALUES 
	(
	  ?
	, ?
	)  
</entry>
<entry key="deleteLike">
	DELETE LIKES
	 WHERE USER_NO = ?
	   AND BOARD_NO = ?
</entry>
<entry key="checkLike">
	SELECT BOARD_NO
	FROM LIKES
	WHERE USER_NO = ?
	AND BOARD_NO = ?
</entry>
<entry key="insertBook">
	INSERT INTO BOOKMARK
	VALUES
	(
	  ?
	, ?
	)
</entry>
<entry key="deleteBook">
	DELETE BOOKMARK
	WHERE USER_NO = ?
	  AND BOARD_NO = ?
</entry>
<entry key="checkBook">
	SELECT BOARD_NO
	FROM BOOKMARK
	WHERE USER_NO = ?
	AND BOARD_NO =  ?
</entry>
<entry key="ajaxBoardList">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="categoryBoardList">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND CATEGORY_NO = ?
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="selectReplyList">
	SELECT
	        REPLY_NO
          , USER_NO
	      , REPLY_CONTENT
	      , NICKNAME
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') "CREATE_DATE"
	  FROM REPLY R
	  JOIN MEMBER ON (REPLY_WRITER = USER_NO)
	 WHERE R.STATUS = 'Y'
	   AND REF_BNO = ?
	 ORDER
	    BY REPLY_NO DESC
</entry>
<entry key="deleteReply">
	UPDATE REPLY
	   SET STATUS = 'N'
	 WHERE REPLY_NO = ?
</entry>
<entry key="insertReply">
	INSERT 
	  INTO REPLY
	(
	  REPLY_NO
	, REPLY_CONTENT
	, REF_BNO
	, REPLY_WRITER
	)
	VALUES
	(
	  SEQ_RPLNO.NEXTVAL
	, ?
	, ?
	, ?
	)
</entry>
<entry key="reportBoard">
	INSERT
	  INTO REPORT
	  (
	    REPORT_NO
	  , GUILTY
	  , REPORT_CONTENT
	  , BOARD_NO
	  , REPORT_UNO
	  , REPORTED_UNO
	  )
	  VALUES
	  (
	    SEQ_REPNO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  )
</entry>
<entry key="deleteBoard">
	UPDATE BOARD
	   SET STATUS = 'N'
	 WHERE BOARD_NO = ?
</entry>
<entry key="countReply">
	SELECT COUNT(*) "COUNT"
	 FROM REPLY
	WHERE REF_BNO = ?
	  AND STATUS = 'Y'
</entry>
<entry key="insertBoard">
	INSERT
	  INTO BOARD
	  (
	    BOARD_NO
	  , BOARD_TITLE
	  , BOARD_CONTENT
	  , HASHTAG
	  , BOARD_WRITER
	  , CATEGORY_NO
	  , BOARD_TYPE
	  )
	  VALUES
	  (
	    'B' || SEQ_BNO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  , 1
	  )
</entry>
<entry key="insertAttachmentList">
	INSERT
	  INTO ATTACHMENT
	  (
	    FILE_NO
	  , REF_NO
	  , ORIGIN_NAME
	  , CHANGE_NAME
	  , FILE_PATH
	  , FILE_LEVEL
	  )
	  VALUES
	  (
	    SEQ_FNO.NEXTVAL
	  , 'B' || SEQ_BNO.CURRVAL
	  , ?
	  , ?
	  , ?
	  , 2
	  )
</entry>
<entry key="boardImgList">
	SELECT FILE_NO, FILE_PATH, ORIGIN_NAME, CHANGE_NAME
	  FROM ATTACHMENT
	 WHERE REF_NO = ?
</entry>
<entry key="boardUpdate">
	UPDATE BOARD
	   SET BOARD_TITLE = ?
	     , BOARD_CONTENT = ?
	     , HASHTAG = ?
	     , CATEGORY_NO = ?
	     , CREATE_DATE = SYSDATE
	 WHERE BOARD_NO = 'B' || ?   
</entry>
<entry key="deleteAttachment">
	DELETE ATTACHMENT
	 WHERE FILE_NO = ?
</entry>
<entry key="updateAttachment">
	UPDATE ATTACHMENT
	   SET ORIGIN_NAME = ?
	     , CHANGE_NAME = ?
	     , FILE_PATH = ?
	 WHERE FILE_NO = ?
</entry>
<entry key="insertNewAttachmentList">
	INSERT
	  INTO ATTACHMENT
	  (
	    FILE_NO
	  , REF_NO
	  , ORIGIN_NAME
	  , CHANGE_NAME
	  , FILE_PATH
	  , FILE_LEVEL
	  )
	  VALUES
	  (
	    SEQ_FNO.NEXTVAL
	  , 'B' || ?
	  , ?
	  , ?
	  , ?
	  , 2
	  )
</entry>
<entry key="searchTitleContent">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND BOARD_TITLE LIKE '%'|| ? || '%'
        OR BOARD_CONTENT LIKE '%' || ? ||'%'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="searchTitle">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND BOARD_TITLE LIKE '%'|| ? || '%'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="searchNickname">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND NICKNAME LIKE '%'|| ? || '%'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="selectBestList">

SELECT 
	   ROWNUM
     , TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
     , BOARD_TITLE
     , COUNT
  FROM 
	   (
		SELECT *
	      FROM BOARD
	      ORDER BY COUNT DESC
	      )
	WHERE  ROWNUM &lt;= 8
</entry>

<entry key="selectTopWriter">
SELECT 
       RANK() OVER(ORDER BY COUNT DESC) 순위
	 , ROWNUM
     , USER_ID
     , COUNT
  FROM 
	   (
		SELECT *
	      FROM BOARD B
          JOIN MEMBER M ON (M.USER_NO = B.BOARD_WRITER)
          WHERE M.STATUS = 'Y'
	      ORDER BY COUNT DESC
	      )
	WHERE  ROWNUM &lt;= 5;
</entry>
<entry key="searchHashtag">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH24:MI') AS "CREATE_DATE"
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND HASHTAG LIKE '%'|| ? || '%'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="countLike">
	SELECT COUNT(*) "COUNT"
	  FROM LIKES
	 WHERE BOARD_NO = ?
</entry>
</properties>