<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectInfo">
        SELECT 
               MT_NAME
			 , MT_ADDRESS
		     , MT_PHONE
			 , MT_PAGE
			 , MT_COURSE
		 	 , MT_VEHICLE
			 , MT_DETAILINFO
			 , MT_DETAILADDRESS
			 , MT_WT
           FROM MT_INFO
          WHERE MT_NAME = ?
</entry>

<entry key="selectCountry">
SELECT 
		MT_NAME
	  , MT_DETAILADDRESS
 FROM MT_INFO
WHERE MT_ADDRESS LIKE ?
ORDER BY MT_NAME
</entry>
</properties>