<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<entry key="qSelectList">
	SELECT *
	    FROM (
	        SELECT ROWNUM RNUM, A.*
	            FROM (
	                SELECT
	               Q_NO
	             , Q_TITLE
	             , Q_CONTENT
	             , Q_WRITER
	             , TO_CHAR(Q_DATE, 'YYYY/MM/DD') "QNA_DATE"
	             , Q.STATUS "STATUS"
	             FROM QNA Q
	             JOIN MEMBER ON (Q_WRITER = USER_NO)
	             AND Q.STATUS = 'Y'
	             ORDER BY Q_NO DESC
	                ) A
	            )
	            
</entry>

<entry key="insertQBoard">
	 INSERT
        INTO QNA
        (
          Q_NO
        , Q_TITLE
        , Q_CONTENT
        , Q_WRITER
        , Q_DATE
        , STATUS
        )
        VALUES
        (
          SEQ_QNO.NEXTVAL
        , ?
        , ?
        , 2
        , SYSDATE
        , 'Y'
        )
</entry>

<entry key="increaseCount">
UPDATE
   QNA
   SET COUNT = COUNT + 1
 WHERE Q_NO = ?
   AND STATUS = 'Y'
</entry>

<entry key="selectqBoard">
    SELECT 
        Q_NO,
        Q_TITLE,
        Q_CONTENT,
        TO_CHAR(Q_DATE, 'YYYY/MM/DD') AS "QNA_DATE",
        COUNT
    FROM QNA 
    JOIN MEMBER ON (Q_WRITER = USER_NO)
    WHERE Q_NO = ?
</entry>

<entry key="updateqBoard">
	UPDATE QNA
          SET Q_TITLE = ?
            , Q_CONTENT = ?
        WHERE Q_NO = ?

</entry>

<entry key = "deleteqBoard">
	UPDATE QNA
        SET STATUS = 'N'
       WHERE Q_NO = ?
</entry>

<entry key="selectqReplyList">
 SELECT
        QREPLY_NO
        , QREPLY_CONTENT
        , USER_ID
        , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI') "CREATE_DATE"
    FROM QREPLY R
    JOIN MEMBER ON(QREPLY_WRITER = USER_NO)
    WHERE R.STATUS = 'Y'
        AND REF_QNO = ?
        ORDER
            BY QREPLY_NO DESC

</entry>

<entry key="insertReply">
	   INSERT
	    INTO QREPLY
	    (
	    QREPLY_NO
	    , QREPLY_CONTENT
	    , REF_QNO
	    , QREPLY_WRITER
	    )
	    VALUES
	    (
	    SEQ_QNO.NEXTVAL
	    , ?
	    , ?
	    , ?
	    )
</entry>

</properties>